body {
    
    background: linear-gradient(253.86deg, rgba(25, 32, 99, 0.74) 3.29%, rgba(120, 44, 156, 0.74) 101.98%),
    linear-gradient(253.86deg, rgba(25, 32, 99, 0.74) 3.29%, rgba(120, 44, 156, 0.74) 101.98%),
    linear-gradient(253.86deg, rgba(25, 32, 99, 0.74) 3.29%, rgba(120, 44, 156, 0.74) 101.98%);

    color: #FFFFFFE5;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;
  
}

.container {
    width: min(90%, 1200px);

    margin-inline: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    &--fluid {
        max-width: unset;
        width: 100%;
    }

    &-no-padding {
        padding: 0;
    }
}

main {
    background: white;
    margin-top: 1rem;
    color: rgba(30, 45, 72, 1);
}