.nft-collection {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 2rem;
    h2{
        margin-bottom: 3rem;
    }
    p:nth-child(1) {
        color: rgba(255, 1, 79, 1);
        
    }
}
.title {
    font-size: 2.5rem;
    font-weight: 700;

}

.card__row {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items:center;
    gap: .5rem;

    
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        
    }
    p{
        margin-bottom: 2rem;
    }

}


.card-box {
    width: 370px;
    height: 460px;
    padding: .6rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.5px solid #E3E3E3;
    box-shadow: 10px 10px 10px rgba(221, 221, 221, 0.5);

}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.box-img > img {
    max-width: 7rem;
}

.box-img > img:nth-child(2) {
    max-width: 10rem;
}

@media (max-width: 900px) {
    .card-box {
        width: 100%;
    }
}